/*.body-blur{
    background-size: 100% !important;
    height: 100%;
    padding-top: 150px;
    h1{
        font-family: Raleway;
        color: #88949D;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 4.2em;
        line-height: 1.2em;
    }
    p{
        color: #88949D;
    }
}*/